{% extends 'rango/base.html' %}

{% block title_block %}
    {{selecteduser.username}} - Profile
{% endblock %}

{% block body_block %}
    <h1>{{selecteduser.username}} Profile</h1>
    <img src="{{ MEDIA_URL }}{{userprofile.picture}}"
         width="300"
         height="300"
         alt="{{selecteduser.username}}"/>
    <p><strong>Website:</strong><a href="{{userprofile.website}}"> {{userprofile.website}}</a></p>
    <br />
    <div>
        {% if selecteduser.username == user.username %}
        <hr />
        <h2>Edit:</h2>
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit" value="Update">Update</button>
            </form>
        {% endif %}
    </div>
<div id="edit_profile"></div>
{% endblock %}