{% extends 'rango/base.html' %}
{% load bootstrap3 %}
{% block title_block %}
    Register
{% endblock %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<div class="jumbotron">
    <h1 class="display-3">Register Here!</h1>
</div>
    <form class="form-signin" role="form" method="POST" action=".">
        {% csrf_token %}
        {% bootstrap_form form layout='inline'%}
        <button class="btn btn-primary" type="submit">Register!</button>
    </form>
    <p>Already a member?<a href="/accounts/login/">Login here!</a> </p>
{% endblock %}